.stars::before,
.stars::after,
.stars::before,
.stars::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: .2vmin;
  height: .2vmin;
  border-radius: 50%;
  color: transparent;
  animation: blink 12s linear infinite;
}


.stars::after {
  box-shadow: 80vw 14vh .2vmin rgb(255, 255, 255),
              88vw 18vh .1vmin rgb(255, 255, 255),
              77vw 11vh .2vmin rgb(255, 255, 255),
              2vw 6vh .1vmin rgb(255, 255, 255),
              12vw 16vh .2vmin rgb(255, 255, 255),
              85vw 22vh .1vmin rgb(255, 255, 255),
              91vw 14vh .1vmin rgb(255, 255, 255),
              98vw 19vh .1vmin rgb(255, 255, 255),
              94vw 29vh .2vmin rgb(255, 255, 255),
              29vw 19vh .1vmin rgb(255, 255, 255),
              94vw 12vh .1vmin rgb(255, 255, 255),
              30vw 6vh .2vmin rgb(255, 255, 255),
              15vw 1vh .1vmin rgb(255, 255, 255),
              12vw 16vh .1vmin rgb(255, 255, 255),
              69vw 15vh .1vmin rgb(255, 255, 255),
              24vw 21vh .1vmin rgb(255, 255, 255),
              23vw 17vh .2vmin rgb(255, 255, 255),
              12vw 20vh .2vmin rgb(255, 255, 255),
              65vw 8vh .2vmin rgb(255, 255, 255),
              66vw 21vh .1vmin rgb(255, 255, 255);
                     
}

@keyframes blink{
  0%{opacity: 0;}
  33%{opacity: .5;}
  50%{opacity: 1;}
  77%{opacity: .5;}
  100%{opacity: 0;}
  }